################################################################################
# Secrets / cert material
################################################################################
*.sig
*.key
*.pfx
*.cer

################################################################################
# Visual Studio
################################################################################
.vs/

################################################################################
# Build output
################################################################################
[Bb]in/
[Oo]bj/

################################################################################
# Tool-specific build output
################################################################################
Tools/OpCodeBuilder/bin/
Tools/OpCodeBuilder/obj/
.Tools/OpCodeBuilder/bin/
.Tools/OpCodeBuilder/obj/